
/* Homepage Specific Styles */
main {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

main p {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 1.5rem;
}
